<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script>
        function make_visible(id) {
           var ele = document.getElementById(id);
           if (ele.style.visibility == 'hidden')
              ele.style.visibility = 'visible';
        }
    </script>
</head>
<body>
    <div>
        {{ word.spelling }}, {{ word.n_def }}
        <a href="#" onclick="make_visible('definition');">Show definitions</a>
        <p id="definition" style="visibility: hidden">{{ word.definitions }}</p>
    </div>
    <div>
        <div>
            <a href="{{ url_for('quiz', username=username, dictid=dictid, n_list=n_list, idinquiz=idinquiz, mastered=0) }}">I don't know</a>
        </div>
        <div>
            <a href="{{ url_for('quiz', username=username, dictid=dictid, n_list=n_list, idinquiz=idinquiz, mastered=1) }}">I know</a>
        </div>
    </div>
</body>
</html>